<li>{{question.author}}'s question: {{question.question}}
  {{update-question question=question update="update"}}
  <button class="btn btn-danger btn-xs"{{action 'delete' question}}>Delete</button>
</li>
