<li>
  {{#link-to 'single-question' question.id}}{{question.question}}{{/link-to}}
  {{update-question model=question update="update"}}
  <button class="btn btn-danger btn-xs"{{action 'delete' question}}>Delete</button>
</li>
