<h2>Any Inquiry</h2>

<p>Thank you for choosing Any Inquiry as your online question and answer forum. What sets this website apart from the various others of its kind is the fact that people just like you are the ones submitting questions and answers. Wait... aren't all Internet Q&A forums like that? Humph. How silly of me to forget. Anyway, forget using this website as a legitimate resource. I'm just a noob practicing my Ember skills. Over and out.</p>

Click {{#link-to 'contact'}}here{{/link-to}} to get my digits. Yes, I'm hitting on you.
