<p>Thank you for clicking the contact page. If you're reading this, that means I'm not as bad at routing as I thought I was. If you have a comment or a question, you can use the resources below to submit that. Although I can't promise that I won't judge you for submitting a question on this page rather than on the questions page. This is, after all, a Q&A forum. You uncultured swine.</p>

<p>
  Any Inquiry<br>
  9685 Legit Address Avenue<br>
  Thisisntfake, FL 98734
</p>

<p>(000)111-1010</p>

<p>totallymyrealemail@notamadeupwebsite.com</p>

Click {{#link-to 'about'}}here{{/link-to}} to read about Any Inquiry. Not that the information will be terribly useful to you; I just feel like showing off my routing skills.

<br><br>

Click {{#link-to 'index'}}here{{/link-to}} to go back to the homepage and LOL4DAYZ at those questions.
