<h1>Welcome to Any Inquiry</h1>
<p>Today is {{current-date}}.</p>
<br>

<p>Now that I have figured out how to implement one to many relationships into my Ember projects, feel free to submit your questions down below. However, don't expect to create an account and use this question and answer forum as a serious and legitimate resource. Proceed at your own risk. Trolling is highly encouraged.</p>

<br>
<ul>
  {{#each model as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  <br>
  {{/each}}
</ul>

{{new-question save2="save3"}}
