<h1>Welcome to Any Inquiry</h1>

<p>Submit your questions below and don't expect an answer until I figure out how to create many to many relationships with Ember. If you want to check out a Q&A forum with full functionality, you should just go to Quora.</p>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question save2="save3"}}

<br>
{{#link-to 'about'}}About{{/link-to}}
<br>
{{#link-to 'contact'}}Contact{{/link-to}}
